<!DOCTYPE html>
<html lang="en" class="theme-dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>swamp - only minimalistic artifacts storage</title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <style>
    .is-equal-height {
      /* keep cards equal height */
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card-footer {
      /* keep card footer at bottom */
      margin-top: auto;
    }

    .to-bottom {
      /* keep last div at bottom of parent div.is-equal-height */
      margin-top: auto;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
  <script>
    // Initialize timeago.js for all elements with class "timeago"
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.timeago').forEach(function (element) {
        var epochTimestamp = element.getAttribute('data-time');
        var date = new Date(epochTimestamp * 1000); // convert epoch to milliseconds
        element.innerText = timeago.format(date);
      });
    });
  </script>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <div class="navbar-menu">
      <!--
      <div class="navbar-start">
        <a class="navbar-item" href="/repos">Repos</a>
        <a class="navbar-item" href="/artifacts">Artifacts</a>
      </div>
      -->
    </div>
  </nav>

  <!-- Hero Section -->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome to the Swamp
        </h1>
        <h2 class="subtitle">
          Only minimalistic artifacts storage
        </h2>
      </div>
    </div>
  </section>

  {{if .Errors}}
  <!-- Errors Section -->
  <section class="section">
    <div class="container">
      <div class="errors">
        {{range .Errors}}
        <div class="notification is-danger">
          <p class="block"><i class="fas fa-triangle-exclamation" style="font-size: 150%;"></i>&nbsp;{{.}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </section>
  {{end}}

  <!-- Main Content Section -->
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <!-- Card Component -->
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <i class="fas fa-house-flood-water" style="font-size:128px;"></i>
                </div>
                <div class="media-content">
                  <p class="title">Repo Name</p>
                  <p class="subtitle">@repo_name</p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <br>
                <a href="#">#bulma</a> <a href="#">#css</a>
                <br>
                <time datetime="2023-09-17">Sept 17, 2023</time>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="title">Introduction to Swamp</h3>
          <p>Your are running vanilla swamp artifactory template.</p>
        </div>
      </div>
    </div>
  </section>

  {{define "repo-card"}}
  <!-- Card Component -->
  <div class="card is-equal-height">
    <div class="card-content is-equal-height">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-warehouse" style="font-size:56px;"></i>
        </div>
        <div class="media-content">
          <p class="title">{{.Name}}</p>
          <p class="subtitle"><a href="/repo/{{.ID}}">#{{.ID}}</a></p>
        </div>
      </div>
      <div class="content">
        <p>{{.Description}}</p>
      </div>
      <div class="content to-bottom">
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">artifacts</span>
              <span class="tag is-medium is-success">{{len .Artifacts}}</span>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">total size</span>
              <span class="tag is-medium is-success">{{.Size}}</span>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">retention</span>
              <span class="tag is-medium is-success">{{.Retention}}</span>
            </div>
          </div>
        </div>
        {{if .Artifacts}}
        {{with index .Artifacts 0 }}
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">latest upload</span>
              <span class="tag is-medium is-warning"><time class="timeago" data-time="{{.CreatedAt}}"></time></span>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">latest artifact</span>
              <span class="tag is-medium is-warning"><a href="/repo/{{.RepoID}}/artifact/{{.ID}}"><i class="fas fa-floppy-disk"></i>&nbsp;{{.ID}}</a></span>
            </div>
          </div>
        </div>
        {{end}}
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
  {{if .Repos}}
  <!-- Repos Section -->
  <section class="section">
    <div class="container">
      <h3 class="title">Repos</h3>
      <div class="repos">
        <div class="grid is-col-min-14">
          {{range .Repos}}
          <div class="cell">
            {{template "repo-card" .}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </section>
  {{end}}

  {{define "artifact-card"}}
  <!-- Card Component -->
  <div class="card is-equal-height">
    <div class="card-content is-equal-height">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-floppy-disk" style="font-size:32px;"></i>
        </div>
        <div class="media-content">
          <p class="title">{{.ID}}</p>
          <p class="subtitle"><a href="/repo/{{.RepoID}}">#{{.RepoID}}</a></p>
        </div>
      </div>
      <div class="content to-bottom">
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">size</span>
              <span class="tag is-medium is-warning">{{.Size}}</span>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">retention</span>
              <span class="tag is-medium is-warning">xxh</span>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium">created</span>
              <span class="tag is-medium is-warning"><time class="timeago" data-time="{{.CreatedAt}}"></time></span>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  {{end}}
  {{if .Artifacts}}
  <!-- Artifacts Section -->
  <section class="section">
    <div class="container">
      <h3 class="title">Artifacts</h3>
      <div class="artifacts">
        <div class="grid is-col-min-11">
          {{range .Artifacts}}
          <div class="cell">
            {{template "artifact-card" .}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </section>
  {{end}}

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Swamp</strong> by <a href="https://github.com/cloudcopper/swamp">cloudcopper</a>.
        The source code is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
</body>

</html>