{{if .Errors}}
    {{range .Errors}}
        <p>error:{{.}}</p>
    {{end}}
{{end}}
{{with .Repo}}
    <h1>{{.Name}}</h1>
    <p>{{.Description}}</p>
    <p>Retention:<span>{{.Retention}}</span></p>
    <p>Artifacts:<span>{{len .Artifacts}}</span></p>
    <p>Size:<span>{{.Size}}</span></p>
    {{if .Artifacts}}
        {{range .Artifacts}}
            <a href="/repo/{{.RepoID}}/artifact/{{.ID}}">
            <h2>{{.ID}}</h2>
            <p>CreatedAt:<span>{{.CreatedAt}}</span></p>
            <p>Size:<span>{{.Size}}</span></p>
            <p>Status:<span>??????</span></p>
            <p><a href="/download/repo/{{.RepoID}}/artifact/{{.ID}}.zip">Download</a></p>
            </a>
        {{end}}
    {{end}}
{{end}}